.full-width {
  width: 100%;
}

.shipping-card {
  background-color: #50012a;
  width: 500px;
  height: 250px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px 30px;
  box-shadow: #b83d6c 4px 4px 20px;
}
.shipping-carde {
  background-color: #6d0234;
  width: 500px;
  height: 250px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
